/* Main */
body{
    background: linear-gradient( 90deg, #004400, #119911, #339933, #2067B2, #0077D6, #002039);
    color: #000000;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
.WPiki{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: #2afa0e;
    text-decoration: none;
    margin: 0;

    display: flex;
    flex-direction: row;
}
.WPSearch{
    width: 365px;
    height: 45px;
    border-color: #323030;
    border-width: 5px;
    border-radius: 5px;
    background-color: #1f7f32;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.WPSearch::placeholder{
    color: #000;
    opacity: 1;
}
.Smartphones{
    background: linear-gradient(135deg, #119911, #339933, #2067B2, #0077D6);
    width: 550px;
    padding: 0;
    margin: 0;
}


/* NOKIA */
.wordNOKIA{
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #124191;
  text-decoration: none;
}
.NOKIA{
    font-family: "Isometra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    margin: 0;
}
.linkNOKIA{
    color: #000;
    text-decoration: none;
}
.SpecialNOKIA{
    font-size: 23px;
    color: #00FFD0;
    margin: 0;
}
.linkSpecialNOKIA{
    color: #000;
    text-decoration: none;
}


/* Microsoft */
.wordMicrosoft{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    background: linear-gradient(45deg, #FF0000, #dd1a1a, #d51c1c, #00FF00, #0000FF, #FFFF00, #fdfd15, #cfbf11);
    -webkit-backface-visibility: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
}
.Microsoft{
    font-family: "Isometra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin: 0;
}
.linkMicrosoft{
    color: #000;
    text-decoration: none;
}
.SpecialMicrosoft{
    font-size: 23px;
    color: #00FFD0;
    margin: 0;
}
.linkSpecialMicrosoft{
    color: #000;
    text-decoration: none;
}
