body{
    background: linear-gradient( 225deg, #000, #999, #888, #777, #666, #555, #444, #333, #222, #111);
    color: #000000;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
.Smartphones{
    background: linear-gradient(135deg, #119911, #339933, #2067B2, #0077D6);
    width: 550px;
    padding: 0;
    margin: 0;
}



.wordNOKIA{
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.NOKIA{
    font-family: "Isometra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin: 0;
}
.SpecialNOKIA{
    font-size: 23px;
    color: #00FFD0;
    margin: 0;
}



.wordMicrosoft{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.Microsoft{
    font-family: "Isometra", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin: 0;
}
.SpecialMicrosoft{
    font-size: 23px;
    color: #00FFD0;
    margin: 0;
}
